.container{
    font-family: Sans-serif, Serif,Helvetica, sans-serif;
    display: inline-block;
    background-color: #F1F0CC;
}
h1,
h2,
h3 {
    color: #8D775F;
}

h1{
    margin-left: 130px;
}

.description {
    display:inline-block;
    font-size:15px;
}
.img{
    width:325px;
    height:370px;
    float:left;
    padding: 15px;
    padding-right: 25px;
}


.craft{
    display: inline;
}

.unorder,
.order {
    float:left;
    margin-left:25px;
}

.list,
.olist{
    width: 250px;
    font-size:15px;
    box-sizing: border-box;
    padding: 10px;
}

.olist{
    width: 300px;
}

.order{
    margin-left:98px;
}


h2 {
    font-size: 20px;
}

.heading.forth{
    margin-left: 25px;
}

a{
    background-color: #D5BF86;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #8D775F;
}

/* Hasbrown */

.heading.five{
    margin-left: 300px;
}

#referen{
    margin-left: 293px;
}

.heading.brown{
    margin-left: 240px;
}

/* Steak */

#reference{
    margin-left: 289px;
}





